<div class="cart-wrapper" ng-controller="CartCtrl">
  <a href="/cart">
    <div class="cart-icon">
      <img src="images/shopping-cart.svg">
      <p> {{ ngCart.getTotalItems() }} </p>
    </div>


    <div class="cart-total">
      <p>{{ ngCart.totalCost() | number: 2}} <span style="font-family: Arial;">&#8381;</span><br><font color=gray><curency>$</curency>{{ ngCart.totalCost() / globals.exchange_usd | number: 2}}<br>{{ ngCart.totalCost() / globals.exchange_euro | number: 2}} <curency>€</curency></font>
      </p>
    </div>
  </a>
</div>
