<div class="contacts-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Russia, Saint-Petersburg</h4>
      <p>email: <a href="mailto:info@woodybase.com">info@woodybase.com</a></p>
      <p>vk.com: <a href="https://vk.com/kolobashkin_ru" target="_blank">vk.com/kolobashkin_ru</a></p>
      <!--<p>Instagram: <a href="https://www.instagram.com/kolobashkin.ru/" target="_blank">instagram.com/kolobashkin.ru</a></p> -->
      <p>Site: <a href="http://woodybase.com/" target="_blank">Woodybase.com</a></p>
      <h4 class="tel-opt">Wholesale:</h4>
      <p><a href="tel: +79995280010">+7 999 528-00-10</a></p>
    </div>
    <div class="col-md-4">
      <h4>Speshneva Vera</h4>
      <p>INN 110605439307 </p>
      <p>OGRNIP 315784700224782</p>
      <p>Payment account № 40802810370110006307</p>
<!--      <p>к/с 30101810645250000092</p> -->
    </div>
  </div>
</div>
