<div class="contacts-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Russia, Saint-Petersburg</h4>
      <p>email: <a href="mailto:info@woodybase.com">info@woodybase.com</a></p>
      <p><a href="https://www.facebook.com/groups/woodybase/">fb.com/groups/woodybase</a></p>
      <p>Site: <a href="http://woodybase.com/" target="_blank">Woodybase.com</a></p>
      <h4 class="tel-opt">Wholesale:</h4>
      <p><a href="tel: +79995280010">+7 999 528-00-10</a></p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
