<div class="gallery-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Gallery</h1>
    </div>
  </div>

  <!--  <div class="col-md-6 col-sm-6">
      <img src="images/13.jpg">
      <p><small>Йол и шлюпка, производители - Мастер-корабел и Фальконет</small></p>
    </div>
-->

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <a href="images/14.jpg" data-lightbox="kolobashkin_images"><img src="images/14.jpg" title="Подставка S230B"></a>
      <p><small><a href="/S230/beech">S230B</a>, Т-90А from Dmitruy Scursis (ZVEZDA + refinement)</small></p>
    </div>
    <div class="col-md-3 col-sm-3">
      <a href="images/6.jpg" data-lightbox="kolobashkin_images"><img src="images/6.jpg" title="Подставка S212B"></a>
      <p><small><a href="/S212/beech">S212B</a>, model: «Stalker», Evolution Miniatures, author: Menelay</small></p>
    </div>
    <div class="col-md-3 col-sm-3">
      <a href="images/1.jpg" data-lightbox="kolobashkin_images"><img src="images/1.jpg" title="Подставка S235B"></a>
      <p><small><a href="/S235/beech">S235B</a>, model: Т-90, ZVEZDA, author: Fedorov Alexander</small></p>
      <a href="images/3.jpg" data-lightbox="kolobashkin_images"><img src="images/3.jpg" title="Подставки P130B"></a>
      <p><small><a href="/P130/beech">P130B</a></small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="images/11.jpg" data-lightbox="kolobashkin_images"><img src="images/11.jpg" title="Подставка S215B"></a>
      <p><small><a href="/S215/beech">S215B</a>, "КВ-1", scale 1/48, author: Vyacheslav Ermakov</small></p>
      <a href="images/12.jpg" data-lightbox="kolobashkin_images"><img src="images/12.jpg" data-lightbox="kolobashkin_images"></a>
      <p><small><a href="/S210/beech">S210B</a>, scale 1/16, author: Vyacheslav Ermakov</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="images/5.jpg" data-lightbox="kolobashkin_images"><img src="images/5.jpg" title="Подставка P460D"></a>
      <p><small><a href="/P460/oak">P460D</a>, model: «The Scotsman», author: Alexander Snegirev</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
     <a href="images/4.jpg" data-lightbox="kolobashkin_images"> <img src="images/4.jpg" title="Подставка R560B"></a>
      <p><small><a href="/R560/beech">R560B</a>, Kharkiv. 1943г., scale 1/16. Resin. Manufacturer - Quasar Miniatures. Sculptor Menelay, author: Maksim Veretelnikov</small></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="images/10.jpg" data-lightbox="kolobashkin_images"><img src="images/10.jpg" title="Подставка R1120B"></a>
      <p><small><a href="/R1120/beech">R1120B</a>, "Pobeda", scale 1/43, author: Vyacheslav Martin</small></p>
      <a href="images/15.jpg" data-lightbox="kolobashkin_images"><img src="images/15.jpg" title="Подставка S230B"></a>
      <p><small><a href="/S230/beech">S230B</a>, Т-10М from Meng, author: Vyacheslav Ermakov</small></p>
      <a href="images/17.jpg" data-lightbox="kolobashkin_images"><img src="images/17.jpg" title="Подставка P460CD"></a>
      <p><small><a href="/P460C/oak">P460CD</a>, scale 1\10 Manufacturer - ALTORES STUDIO, author: Vyacheslav Ermakov</small></p>
    </div>
  </div>
</div>
