<div class="row main-block">
    <div class="col-md-12 col-sm-12 ">
        <ul rn-carousel rn-carousel-controls rn-carousel-auto-slide rn-carousel-controls-allow-loop class="main-slider">
            <li ng-repeat="image in sliderImages">
                <a ng-href="{{ image.href }}"><img class="img-responsive" ng-src="{{ image.src }}"></a>
            </li>


        </ul>
    </div>
    <!-- <div rn-carousel-indicators ng-if="sliderImages.length > 1" slides="sliderImages" rn-carousel-index="carouselIndex"></div> -->
    <!-- <a class=" hover-block" href="/catalog">
                <div class="promo-1 main-promo">
                    <img src="/images/promo-main.png">
                    <h4>Final trait for you model</h4></div>
            </a> -->
</div>
<div class="row main-block">

    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 main-description">
        <!-- <p><b>We are really glad to see you on our site</b></p> -->
        <h1>We are young company from Saint-Petersburg, Russia. You can find different interesting bases in our <a href="/catalog">catalog</a><br>If you have any questions about our products or want to make a new order, please <a href="/post">contact us</a> or send email to <a href="mailto:info@woodybase.com">info@woodybase.com</a></h1>
        <!--<p class="pull-right">Sincerely yours,  «<b>Woodybase.com</b>»</p> -->
    </div>

</div>
<div class="row main-block">
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/catalog">
            <img class="img-responsive" src="/images/main-page/solidity.jpg">
        </a>
        <p class="text-center">Presents solidity</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/P130/beech">
            <img class="img-responsive" src="/images/main-page/42.jpg">
        </a>
        <p class="text-center">Starts from <strong>~€4</strong></p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/R1120/beech">
            <img class="img-responsive" src="/images/main-page/fits.jpg">
        </a>
        <p class="text-center">Bases fits to each minuature</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/S235/beech">
            <img class="img-responsive" src="/images/main-page/each.jpg">
        </a>
        <p class="text-center">Each size you want</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/P460C/oak">
            <img class="img-responsive" src="/images/main-page/best.jpg">
        </a>
        <p class="text-center">Best models — best bases</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-main-page">
        <a class="" href="/S218/beech">
            <img class="img-responsive" src="/images/main-page/final.jpg">
        </a>
        <p class="text-center">Final trait for you model</p>
    </div>
</div>



<div class="row">
    <div class="col-md-4 col-sm-6 main-margin">
        <a class=" hover-block" href="/delivery">
            <div class="promo-2 bottom-promo">
                <img src="/images/package.svg">
                <h4>Delivery over the world</h4></div>
        </a>

    </div>
    <div class="col-md-4 col-sm-6 main-margin">
        <a class=" hover-block" href="/shops">
            <div class="promo-2 bottom-promo">
                <img src="/images/restaurant.svg">
                <h4>Offline distributors</h4></div>
        </a>
    </div>
  <!--  <div class="col-md-3 col-sm-6 main-margin">
        <a class=" hover-block" href="/payment">
            <div class="promo-2 bottom-promo">
                <img src="/images/credit-card.svg">
                <h4>Pay from the site</h4></div>
        </a>
    </div> -->
    <div class="col-md-4 col-sm-6 main-margin">
        <a class=" hover-block" href="/contacts">
            <div class="promo-2 bottom-promo">
                <img src="/images/business.svg">
                <h4>Wholesale</h4></div>
        </a>
    </div>

</div>
