<div class="shop-block">
  <div class="row">
    <div class="col-md-12">
      <h1>Disctributors</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="margin-helper">Shops in Saint-Petersburg:</h4>
      <p><strong>«Солдатики» </strong><a href="http://magazin-soldatikov.ru/" target="_blank">magazin-soldatikov.ru</a></p>
      <p><strong>«Военный коллекционер» </strong><a href="http://www.militaria-centre.com/" target="_blank">www.militaria-centre.com</a></p>
      <p><strong>«Интересный магазин»</strong><a href="http://mymodelizm.ru/" target="_blank">mymodelizm.ru</a></p>
      <h4 class="tel-opt margin-helper">Shops in Moscow:</h4>
      <p><strong>«Startset» </strong><a href="http://startset.ru/" target="_blank">startset.ru</a></p>
      <h4 class="tel-opt margin-helper">Shops in other regions:</h4>
      <dl>
        <dt><p><em>Arkhangelsk:</em></p></dt>
        <dd>
          <p><strong>«Солдатиков.нет» </strong><a href="http://soldatikov.net/" target="_blank">soldatikov.net</a></p>
        </dd>
        <dt><p><em>Voronezh:</em></p></dt>
        <dd>
          <p><strong>Хобби-Центр «Илья Муромец» </strong><a href="https://vk.com/iliamurometz" target="_blank">vk.com/iliamurometz</a></p>
        </dd>
        <dt><p><em>Tula:</em></p></dt>
        <dd>
          <p><strong>Хобби-Центр «Магазин Моделей» </strong><a href="http://magmodels.ru/" target="_blank">magmodels.ru</a></p>
        </dd>
        <dt><p><em>Naberezhnye Chelny:</em></p></dt>
        <dd>
          <p><strong>Отдел моделизма, хозтовары "НАФАНЯ" </strong><a href="https://vk.com/rat_nik" target="_blank">vk.com/rat_nik</a></p>
        </dd>
      </dl>

    </div>
  </div>
</div>
